/* Import font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


/* Set the color with variables to facilate the darkmode */

:root
{
  --textColor: #000000;
  --highlightColor: #FFFFFF;
  --grey: #C4C4C4;
  --bgColor: #FFFFFF;
  --primaryColor: #F74D41;
}


[data-theme="dark"]
{
  --textColor: #FFFFFF;
  --highlightColor: #000000;
  --grey: #C4C4C4;
  --bgColor: #171717;
  --primaryColor: #F74D41;
}


.colorMode
{
  width: 35px;
  height: 35px;
  cursor: pointer;
}
/*---- HEADER ----*/

body
{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: 'poppins';
  font-weight: 500;
  background-color: var(--bgColor);
  color: var(--textColor);
  transition: all 0.4s ease;
}

.conteneur
{
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 100vh;
}

.navbar
{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 87vw;
  height: 8vw;
  font-weight: 500;
}

.menu{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 85vw;
  list-style: none;
  margin-right: -2em;
}

li:hover
{
  color: var(--primaryColor);
  transition: 0.3s ease-in-out;
}

li
{
  margin-right: 2em;
  font-size: 1em;
  transition: 0.3s ease-in-out;
}

.logo
{
  display: flex;
  width: 5vw;
  height: 5vh;
  margin:0;
}

.colorMode
{
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.logo
{
  display: flex;
  width: 5vw;
  height: 5vh;
  margin:0;
}

.logs
{
  display: flex;
  justify-content: center;
  border-radius: 60px;
  border: solid 2px var(--primaryColor);
  padding-left: 2.1em;
  outline: none;
  width: 33vw;
  height: 6vh;
  box-shadow: 0 0 0px 1000px var(--bgColor) inset;
  font-family: "poppins";
  color: var(--textColor);
}

.connexion
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  background-color: var(--primaryColor);
  border-radius: 60px;
  margin: 0 auto;
  outline: none;
  border: none;
  width: 13vw;
  height: 2.8em;
  font-family: "poppins";
  font-weight: 500;
  font-size: large;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.newLink:hover
{
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}

.activate{
  font-family: poppins;
  color: #FFFFFF;
  background-color: var(--primaryColor);
  border-radius: 60px;
  padding: 1em;
  outline: none;
  border: none;
  width: 4vw;
  height: 2vh;
  margin-top: 0.5em;
  display: flex;
  margin-right: 1em;
  justify-content: center;
  box-sizing: border-box;
}

.desactivate{
  font-family: poppins;
  color: var(--textColor);
  background-color: var(--bgColor);
  border: solid 2px var(--primaryColor);
  border-radius: 60px;
  padding: 1em;
  outline: none;
  width: 4vw;
  height: 2vh;
  margin-top: 0.5em;
  display: flex;
  margin-right: 1em;
  justify-content: center;
  box-sizing: border-box;
}

.titre
{
  display: flex;
  font-family: moret;
  font-size: 2em;
  margin-bottom: 0.6em;
}

a
{
  color: unset;
  text-decoration: none;
}

.mylink{
    font-family: poppins;
    font-size: 1.6em;
    margin-bottom: 1em;
}

.linkurl{
    font-family: poppins;
}

.blabla{
    font-family: poppins; 
    margin-bottom: 0.4em;
    font-weight: 500;
}

.namewebsite{
  font-weight: 400;
}

.click{
    font-family: poppins; 
}

.linkshort{
  font-size: smaller;
  font-weight: 300;
}

.bouton{
    display: flex;
    font-family: poppins; 
    font-size: 0.8em;
    margin-top: 1em;
}

.activate{
    display: flex;
    align-items: center;
    margin-right: 0.8em;
    border-radius: 60px;
    border: solid 2px var(--primaryColor);
    width: 6em;
    display: flex;
    justify-content: center;
    background-color: var(--primaryColor);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
}

.desactivate{
  display: flex;
  align-items: center;
  margin-right: 0.8em;
  border-radius: 60px;
  border: solid 2px var(--primaryColor);
  width: 5vw;
  height: 3vh;
  display: flex;
  justify-content: center;
  color: var(--textColor);
  background-color: var(--bgColor);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}



.desactivate:hover
{
  transition: 0.3s ease-in-out;
  background-color: var(--primaryColor);
  color: #ffffff;
}


.shorten
{
    display: flex;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 3em;
}
 
.button
{
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.submit
{
    display: flex;
    justify-content: flex-end;
    position: absolute;
}

.subcontain{
  display: flex;
  justify-content: flex-start;
  border-bottom: solid 2px var(--grey);
  flex-direction: column;
  padding-bottom: 3em;
  width: 33%;
  margin-top: 3em;
}


.information{
  display: flex;
  flex-direction: wrap;
  align-items: center;
}

.click{
  display: flex;
  flex-direction: wrap;
  font-family: Moret;
  font-size: 2.5em;
  color: var(--primaryColor);
  padding-left: 0.7em;
  margin-left: 0.7em;
  border-left: solid 2px var(--primaryColor);
}

.clic{
  margin-left: 0.2em;
}

.contain{
  display: flex;
  justify-content: flex-start;
  width: 87vw;
  margin-top: 2em;
  flex-direction: column;
}

.myaccount{
  color: var(--primaryColor);
}




.illu
{
  display: flex;
  justify-content: flex-end;
  width: 45%;
  height: 35%;
}

.linkPict
{
  width: 80%;
  height: 40%;
  margin-top: 10vw;
  margin-right: 5vw;
}